@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-app-primary: #4400ce;
  --color-app-secondary: #d54525;
  --color-app-third: #a7c03b;
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply min-h-screen;
  }
}
